@import "../../styles/variables";

.popImageContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $imgPopOverlayBgColor;
  animation: popBg 1000ms linear;
  display: flex;
  overflow: scroll;

  img {
    position: absolute;
    object-fit: contain;
    transition: all 500ms ease-in-out;
    flex-shrink: 0;
    cursor: all-scroll;
  }

  .magnifier {
    display: flex;
    flex-direction: row;
    column-gap: calc(#{$magnifierSize} * 2);
    position: fixed;
    bottom: calc(#{$magnifierSize} * 2);
    left: calc(50% - #{$magnifierSize} * 2);

    div {
      height: $magnifierSize;
      width: $magnifierSize;
      border-radius: calc(#{$magnifierSize} / 2);
      background-color: $magnifierBgColor;
      color: $magnifierTextColor;
      font-size: $magnifierFont;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding-top: 10px;
    }
  }
}

@keyframes popBg {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $imgPopOverlayBgColor;
  }
}

.container {
  background-color: $containerBgColor;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 $mainMargin;
    padding: $navPaddingVertical $navPaddingHorizontal;
    background-color: $navBgColor;

    .profile {
      display: flex;
      flex-direction: row;
      align-items: center;

      .profileImage {
        width: $profileImageSize;
        height: $profileImageSize;
        border-radius: calc(#{$profileImageSize} / 2);
        transition: all 300ms ease-in-out;
      }

      .name {
        font-size: $nameFontSize;
        margin-left: $nameLeftMargin;
        cursor: default;
        white-space: pre-line;
        line-height: 1;

        small {
          font-size: 0.7em;
        }
      }
    }

    .searchAndFilter {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      flex: 1;

      .searchBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $searchBoxBgColor;
        padding: $searchBoxPadding;
        border-radius: $searchBoxBorderRadius;
        margin: 0 $dropDownHorizontalMargin $dropDownHorizontalMargin 0;

        .searchInput {
          border: none;
          outline: none;
          font-size: $searchInputFont;
        }
        .searchButton {
          cursor: pointer;
          margin-top: $searchButtonTopMargin;
        }
      }
    }

    .filterBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: calc(#{$dropDownHorizontalMargin} / 2);
    }

    .filterLink {
      margin-right: $dropDownHorizontalMargin;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .main {
    background-image: url(/white-canvas-texture.jpg);
    background-repeat: repeat;
    background-size: $mainBgSize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: $mainTopMargin $mainMargin 0;
    padding: $mainPadding;
    row-gap: $imageTileGap;
    position: relative;

    .count {
      position: absolute;
      top: $countTop;
      right: $countRight;
      font-size: $countFontSize;
    }
  }

  .footer {

  }
}

@media (max-width: 600px) {
  .container {
    .main {
      margin: 0;
      padding: $mainPadding_mobile;
      row-gap: $imageTileGap_mobile;
    }
  }
}
