// Main area desktop measurements
$mainMargin: 15vw;
$mainTopMargin: 2px;
$mainBgSize: 637px 418px;
$mainPadding: 3.2vw;
$imageTileGap: 1.2vw;
$imgTileWidth: calc((100vw - #{$mainPadding} * 2 - #{$imageTileGap} * 2 - #{$mainMargin} * 2) / 3);
$imgTileHeight: calc(#{$imgTileWidth} * 3 / 2);
$imgTilePadding: 3.2vw;
$imgOverlayBorderSize: calc(#{$imgTilePadding} / 3);
$imgOverlayInfoCardPadding: 3.2vw;
$infoCardMaxHeight: $imgTileWidth;
$imgInfoFontSize: 1.4vw;
$imgCaptionFontSize: 2vw;
$imgCaptionTopMargin: 16px;
$imageWidth: calc(#{$imgTileWidth} - #{$imgTilePadding} * 2);
$magnifierSize: 32px;
$magnifierFont: 24px;
$dropDownHeight: 2vw;
$dropDownVerticalMargin: 0.25vw;
$dropDownHorizontalMargin: 2vw;
$dropDownPadding: 1vw;
$dropDownValueBorder: 1px solid rgba(#000, 0.3);
$countFontSize: 1.4vw;
$countTop: 0.5vw;
$countRight: 1vw;

// Nav area desktop measurements
$navPaddingHorizontal: 6.4vw;
$navPaddingVertical: 2vw;
$profileImageSize: 6vw;
$profileHoverMargin: 1vw;
$nameFontSize: 2.6vw;
$nameLeftMargin: 2vw;
$searchBoxPadding: 0.3vw 1.2vw;
$searchBoxBorderRadius: 0.5vw;
$searchButtonTopMargin: 0.5vw;
$searchInputFont: 1.2vw;

// Colors
$containerBgColor: #282c34;
$imgOverlayColor: rgba(0,0,0,0.4);
$imgOverlayTextColor: #ffffff;
$imgPopOverlayBgColor: rgba(0,0,0,0.9);
$magnifierTextColor: #000000;
$magnifierBgColor: #ffffff;
$infoCardBgColor: rgba($containerBgColor, 0.6);
$navBgColor: rgba(#ffffff, 0.8);
$searchBoxBgColor: #ffffff;
$dropDownBgColor: #eeeeee;
$dropDownTitleBgColor: #bbbbbb;
$dropDownBgHoverColor: #dddddd;

// Main area mobile measurements
$mainMargin_mobile: 0;
$mainPadding_mobile: 16px;
$imageTileGap_mobile: 16px;
$imgTileWidth_mobile: calc(100vw - #{$mainPadding_mobile} - #{$imageTileGap_mobile});
$imgTileHeight_mobile: calc(#{$imgTileWidth_mobile} * 3 / 2);
$imgTilePadding_mobile: 16px;
$imgOverlayBorderSize_mobile: calc(#{$imgTilePadding_mobile} / 3);
$imgOverlayInfoCardPadding_mobile: 32px;
$imgInfoFontSize_mobile: 18px;
$imgCaptionFontSize_mobile: 24px;
$imgCaptionTopMargin_mobile: 16px;
$imageWidth_mobile: calc(#{$imgTileWidth_mobile} - #{$imgTilePadding_mobile} * 2);
$magnifierSize_mobile: 32px;
$magnifierFont_mobile: 24px;
